.d-flex.align-items-center.justify-content-between.my-4
  %h1 Facebook Accounts

  = button_to 'auth/facebook', method: :post, class: 'btn btn-primary' do
    %i.bi.bi-facebook.icon_mr
    Connect new account

- @facebook_accounts.each do |acc|
  .card.mb-4
    .card-body.d-flex.align-items-center
      = image_tag acc.image, class: 'rounded-circle me-4'
      .flex-fill
        %b= acc.name
        .small= acc.email
      = button_to 'Disconnect', acc, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger flex-fill'
