%h1 Sign Up

= simple_form_for @user do |f|
  = render 'shared/form_errors', form: f

  .mb-3
    = f.input :username, input_html: { class: 'form-control' }
  .mb-3
    = f.input :email, input_html: { class: 'form-control' }
  .mb-3
    = f.input :password, as: :password, input_html: { class: 'form-control' }
  .mb-3
    = f.input :password_confirmation, as: :password, input_html: { class: 'form-control' }
  .mb-3
    = f.submit 'Sign Up', class: 'btn btn-primary'
