%h1 Sign Up

= form_with model: @user, local: true do |form|
	= render 'shared/form_errors', form: form

	.mb-3
		= form.label :username
		= form.text_field :username, class: 'form-control'
	.mb-3
		= form.label :email
		= form.text_field :email, class: 'form-control'
	.mb-3
		= form.label :password
		= form.password_field :password, class: 'form-control'
	.mb-3
		= form.label :password_confirmation
		= form.password_field :password_confirmation, class: 'form-control'
	.mb-3
		= form.submit 'Sign Up', class: 'btn btn-primary'
