%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container.w-100
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item= link_to 'Home', root_path, class: 'nav-link active'
        - if Current.user
          %li.nav-item= link_to 'Posts', posts_path, class: 'nav-link'
          %li.nav-item= link_to 'Twitter Accounts', twitter_accounts_path, class: 'nav-link'
          %li.nav-item= link_to 'Facebook Accounts', facebook_accounts_path, class: 'nav-link'
    .d-flex.dropdown
      - if Current.user
        %a.nav-link.dropdown-toggle.text-light.d-flex.align-items-center{href: '', id: 'navbarDropdown', role: 'button', 'data-bs-toggle': 'dropdown', 'aria-expanded': 'false', 'data-bs-display': 'static'}
          = image_tag 'profile/default.png', size: 30, class: 'rounded-circle mx-1'
          .username.mx-1= Current.user.username
        %ul.dropdown-menu.dropdown-menu-dark.dropdown-menu-end{'aria-labelledby': 'navbarDropdown'}
          %li.dropdown-item.text-center= link_to 'Logout', logout_path, method: :delete, class: 'text-light text-decoration-none'
      - else
        %ul.navbar-nav
          %li.nav-item= link_to 'Login', login_path, class: 'nav-link'
          %li.nav-item= link_to 'Signup', signup_path, class: 'nav-link'
