= simple_form_for post, html: { class: 'my-4', multipart: true } do |f|
  = render 'shared/form_errors', form: f

  #provider{ tw_accounts: Current.user.twitter_accounts.to_json, fb_accounts: Current.user.facebook_accounts.to_json }
  .mb-3
    = render 'image_upload', f: f, post: post
  .mb-3
    = f.input :body, as: :text, input_html: { class: 'form-control' }
  .mb-3
    = f.label :publish_at
    .form-control
      = f.datetime_field :publish_at, value: post.publish_at.strftime('%Y-%m-%dT%H:%M')
  = f.submit 'Schedule', class: 'btn btn-primary'
