.post
  .author
    .author-image
      -# if provisional
      - if post.twitter_account 
        = image_tag post.twitter_account.image, class: 'rounded-circle me-4 w-100' 
        = link_to "@#{post.twitter_account.username}", "https://twitter.com/#{post.twitter_account.username}", class: 'link-primary', target: '_blank'
  .post-image.w-100
    -# provisional
    = image_tag "https://loremflickr.com/320/240/dog?random=#{post.id}"
  %p.post-body= post.body
  .post-data
    .post-options
      - if post.published?
        .post-date
          = "#{time_ago_in_words post.publish_at} ago"
        -# if provisional  
        - if post.twitter_account  
          = link_to 'View Tweet', "https://twitter.com/#{post.twitter_account.username}/status/#{post.post_id}", target: :_blank
      - else
        .post-date
          Scheduled for 
          %b
            = l post.publish_at, format: :long
        .post-btns
          = link_to edit_post_path(post), class: 'btn btn-primary m-2' do
            %i.bi.bi-pencil-fill
          = button_to post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger m-2' do
            %i.bi.bi-trash-fill
