.post
  .author
    .author-image
      -# if provisional
      - if post.publisher.kind_of?(TwitterAccount)
        = image_tag post.publisher.image, class: 'rounded-circle me-4 w-100' 
      - else 
        = image_tag post.publisher.facebook_account.image, class: 'rounded-circle me-4 w-100'

    .author-name 
      - if post.publisher.kind_of?(TwitterAccount)
        %b= post.publisher.name
        = link_to "@#{post.publisher.username}", "https://twitter.com/#{post.publisher.username}", class: 'link-primary small', target: '_blank'
      - else
        %b= post.publisher.facebook_account.name
        = link_to "@#{post.publisher.name}", "https://facebook.com/#{post.publisher.page_id}", class: 'link-primary small', target: '_blank'

  .post-image.w-100
    = image_tag post.image_url
  %p.post-body= post.body
  .post-data
    .post-options
      - if post.published?
        .post-date
          = "#{time_ago_in_words post.publish_at} ago"
        -# if provisional  
        - if post.publisher.kind_of?(TwitterAccount)
          = link_to 'View Tweet', "https://twitter.com/#{post.publisher.username}/status/#{post.post_id}", target: :_blank
        - else
          = link_to 'View Post', "https://facebook.com/#{post.post_id}", target: :_blank
      - else
        .post-date
          Scheduled for 
          %b
            = l post.publish_at, format: :long
        .post-btns
          = link_to edit_post_path(post), class: 'btn btn-primary mx-1' do
            %i.bi.bi-pencil-fill
          = button_to post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger mx-1' do
            %i.bi.bi-trash-fill
